:root {
  --neutral-first: #fff;
  --neutral-second: #000;
  --background-first: #fff;
  --background-second: #2f303a;
  --background-third: #f5f4fa;
  --background-accent: #2196f3;
  --background-opacity: rgba(255, 255, 255, 0.1);
  --primary-text: #757575;
  --secondary-text: #ffffff;
  --primary-title: #212121;
  --secondary-title: #ffffff;
  --hover-link: #2196f3;
  --btn-background-accent: #2196f3;
  --btn-primary-color: #ffffff;
  --logo-span: #2196f3;
  --wrap-border: #eee;
  --icon-first: #AFB1B8;
  --icon-second: #fff;
  --icon-third: #2196f3;
  --input-opacity: rgba(255, 255, 255, 0.6);
  --input-border-opacity: rgba(255, 255, 255, 0.3);
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* main settings */

body{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

button{
  border: none;
}

a, p, ul, li, h1, h2, h3{
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

/* header */

.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-info {
  display: flex;
  gap: 50px;
}

.header-logo-link {
  color: var(--neutral-second);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
}

.header-logo-link > span {
  color: var(--logo-span);
}

.header-link {
  color: var(--primary-title);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease;
}

.header-link:hover, .header-link:focus {
  color: var(--hover-link);
}

.header-mail,
.header-phone {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}

.header-icon{
  width: 18px;
  height: 12px;
  fill: currentColor;
}

.header-phone > .header-icon{
  width: 10px;
  height: 16px  ;
}

.header-mail:hover,
.header-phone:hover,
.header-mail:focus,
.header-phone:focus {
  color: var(--hover-link);
}

/* projects */

.projects{
    padding: 94px 0px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-filter{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.projects-btn{
    border: none;
    color: var(--primary-title);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 6px 22px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.projects-btn:hover, .projects-btn:focus{ 
    color: var(--neutral-first);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--btn-background-accent);
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;
}

.projects-wrap{
    padding: 20px 24px;
    border: 1px solid var(--wrap-border);
    border-top: none;
}

.projects-tab{
  transition: 0.3s ease-in-out;
}

.projects-tab:hover, .projects-tab:focus{
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects-title{
    color: var(--primary-title);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}

.projects-mark{
    color: var(--primary-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

/* footer */

.footer{
    padding: 60px 0px;
    background-color: var(--background-second);
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-logo-link{
    color: var(--neutral-first);
    font-weight: 700;
    font-size: 26px;
    font-family: var(--second-family);
}

.footer-logo-link > span{
    color: var(--logo-span);
}

.footer-info{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text);
    font-style: normal;
    margin-top: 20px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-address{
    color: var(--neutral-first);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.footer-link{
    color: var(--primary-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.footer-subtitle{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--secondary-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon{
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  max-width: 44px;
  max-height: 44px;
  fill: var(--icon-second);
  border-radius: 100px;
  background-color: var(--background-opacity);
  padding: 12px;
  overflow: unset;
}

.social-icon:hover{
  overflow: unset;
  border-radius: 100px;
  background-color: var(--background-accent);
  padding: 12px;
}

.footer-main-list{
  display: flex;
  gap: 70px;
  align-items: center;
}

.footer-form{
  display: flex;
  gap: 12px;
}

.btn-icon{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-btn{
  display: flex;
  align-items: center;
  padding: 15px 28px;
  color: var(--btn-primary-color);
  background-color: var(--btn-background-accent);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer-input{
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--input-border-opacity);
  border-radius: 4px;
  color: var(--input-opacity);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  width: 358px;
}

