:root{

    --backgroung-base: #fff;
    --background-dark: #2F303A;
    --background-dimmed: #F5F4FA;
    --primary-text: #757575;
    --secondary-text: #FFFFFF;
    --primary-title: #212121;
    --secondary-title: #FFFFFF;
    --hover-link: #2196F3;
    --btn-background-highlight: #2196F3;
    --btn-background-dimmed: #F5F4FA;
    --btn-color-light: #FFFFFF;
    --logo-span: #2196F3;

}