/* main settings */

body{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
p,
a,
ul,
li,
button {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}


/* header */


.header-container{
    display: flex;
    align-items: center;
    gap: 344px;
}

.header-nav{
    display: flex;
}

.nav-list{
    display: flex;
    align-items: center;
}