:root {
  --neutral-first: #fff;
  --neutral-second: #000;
  --background-first: #fff;
  --background-second: #2f303a;
  --background-third: #f5f4fa;
  --background-accent: #2196f3;
  --background-opacity: rgba(255, 255, 255, 0.1);
  --background-accent-opacity: rgba(33, 150, 243, 0.9);
  --primary-text: #757575;
  --secondary-text: #ffffff;
  --primary-title: #212121;
  --secondary-title: #ffffff;
  --first-border: #eee;
  --icon-first: #afb1b8;
  --icon-second: #fff;
  --input-opacity: rgba(255, 255, 255, 0.6);
  --input-border-opacity: rgba(255, 255, 255, 0.3);
  --accent-color: #2196f3;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: var(--font-family);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 25px 0px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header-logo-link {
  color: var(--neutral-second);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  padding-right: 92px;
}

.header-logo-link > span {
  color: var(--accent-color);
}

.header-link {
  color: var(--primary-title);
  letter-spacing: 0.02em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header__current-studio::after, .header__current-portfolio::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -185%;
  left: -3px;
  background-color: var(--accent-color);
  color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 48px;
}

.header__current-portfolio::after {
  width: 78px;
}

.header-mail,
.header-phone {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text);
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header-icon {
  width: 18px;
  height: 12px;
  fill: currentColor;
}

.header-phone > .header-icon {
  width: 10px;
  height: 16px;
}

.header-mail:hover,
.header-phone:hover,
.header-mail:focus,
.header-phone:focus {
  color: var(--accent-color);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.banner {
  padding: 200px 0px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/banner-bg.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/banner-bg.png);
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-title {
  color: var(--secondary-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.banner-btn {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--background-accent);
  border-radius: 4px;
  line-height: 187%;
  padding: 10px 32px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  background: var(--background-first);
  padding: 40px;
  border-radius: 4px;
  width: 100%;
  max-width: 528px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--neutral-second);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--background-accent);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--third-text);
  margin-bottom: 12px;
}

.form-group {
  margin-bottom: 10px;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input:focus,
.textarea:focus {
  border-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input-icon {
  fill: var(--background-accent);
}

.textarea {
  min-height: 120px;
  resize: none;
  padding: 12px;
}

.checkbox {
  margin: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text);
  cursor: pointer;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: inline-block;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 15px 57px;
  background: var(--background-accent);
  color: var(--secondary-text);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--background-accent);
}

.about {
  padding: 94px 0px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about-title {
  color: var(--primary-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-item:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/desktop/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/desktop/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(3)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/desktop/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(4)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/desktop/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-text {
  color: var(--primary-text);
  font-weight: 400;
  line-height: 171%;
}

.work {
  padding-bottom: 94px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-title {
  color: var(--primary-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work-item {
  position: relative;
}

.work-desc {
  font-weight: 700;
  color: var(--secondary-text);
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px;
}

.team {
  padding: 94px 0px;
  background-color: var(--background-third);
}

.team-img {
  width: 270px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-item {
  background-color: var(--background-first);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-title {
  color: var(--primary-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team-wrap {
  background-color: var(--background-first);
  border-radius: 0 0 4px 4px;
  padding: 30px 62px;
}

.team-subtitle {
  color: var(--primary-title);
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-name {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--primary-text);
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px 30px;
  gap: 10px;
}

.icon-app {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  fill: var(--icon-first);
  padding: 12px;
}

.icon-app:hover {
  fill: var(--neutral-first);
  overflow: unset;
  border-radius: 100px;
  background-color: var(--background-accent);
}

.client {
  padding: 94px 0px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc((100% - 150px) / 6);
}

.client-title {
  text-align: center;
  color: var(--primary-title);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.client-icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: var(--icon-first);
  width: 106px;
  height: 60px;
  border: var(--icon-first) solid 2px;
  border-radius: 4px;
  padding: 16px 32px;
}

.client-icon:hover {
  fill: var(--accent-color);
  border: var(--accent-color) solid 2px;
}

.projects {
  padding: 94px 0px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.projects-btn {
  border: none;
  color: var(--primary-title);
  font-size: 16px;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  line-height: 162%;
}

.projects-btn:hover,
.projects-btn:focus {
  color: var(--neutral-first);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--background-accent);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.projects-wrap {
  padding: 20px 24px;
  border: 1px solid var(--first-border);
  border-top: none;
}

.projects-tab {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.projects-tab:hover,
.project-tab:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects-tab:hover .projects-overlay,
.projects-tab:focus .projects-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-title {
  color: var(--primary-title);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 200%;
  margin-bottom: 4px;
}

.projects-mark {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
}

.projects-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: var(--background-accent-opacity);
  padding: 63px 24px;
}

.overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--secondary-text);
  width: 322px;
}

.projects-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.footer {
  padding: 60px 0px;
  background-color: var(--background-second);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo-link {
  color: var(--neutral-first);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
}

.footer-logo-link > span {
  color: var(--accent-color);
}

.footer-info {
  font-weight: 400;
  color: var(--secondary-text);
  font-style: normal;
  margin-top: 20px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer-address {
  color: var(--neutral-first);
  font-weight: 400;
  font-style: normal;
}

.footer-link {
  color: var(--primary-text);
  font-weight: 400;
  font-style: normal;
}

.footer-subtitle {
  font-weight: 700;
  color: var(--secondary-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  max-width: 44px;
  max-height: 44px;
  fill: var(--icon-second);
  border-radius: 100px;
  background-color: var(--background-opacity);
  padding: 12px;
  overflow: unset;
}

.social-icon:hover {
  overflow: unset;
  border-radius: 100px;
  background-color: var(--background-accent);
  padding: 12px;
}

.footer-main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px;
  color: var(--secondary-text);
  background-color: var(--background-accent);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}

.footer-input {
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--input-border-opacity);
  border-radius: 4px;
  color: var(--input-opacity);
  font-weight: 400;
  font-size: 16px;
  width: 358px;
}