:root {
  --neutral-first: #fff;
  --neutral-second: #000;
  --background-first: #fff;
  --background-second: #2f303a;
  --background-third: #f5f4fa;
  --background-accent: #2196f3;
  --background-opacity: rgba(255, 255, 255, 0.1);
  --background-accent-opacity: rgba(33, 150, 243, 0.9);
  --primary-text: #757575;
  --secondary-text: #ffffff;
  --primary-title: #212121;
  --secondary-title: #ffffff;
  --first-border: #eee;
  --icon-first: #afb1b8;
  --icon-second: #fff;
  --input-opacity: rgba(255, 255, 255, 0.6);
  --input-border-opacity: rgba(255, 255, 255, 0.3);
  --accent-color: #2196f3;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/* main settings */

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: var(--font-family);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* header */

.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-info {
  display: flex;
  gap: 30px;
}

.header-logo-link {
  color: var(--neutral-second);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  padding-right: 92px;
}

.header-logo-link > span {
  color: var(--accent-color);
}

.header-link {
  color: var(--primary-title);
  letter-spacing: 0.02em;
  transition: all 0.3s ease;
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-item:first-of-type > .header-link {
  color: var(--accent-color);
}

.header-item:first-of-type .header-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -185%;
  left: -3px;
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 48px;
}

.header-mail,
.header-phone {
  transition: all 0.3s ease;
  display: flex;
  color: var(--primary-text);
  letter-spacing: 0.02em;
  align-items: center;
  gap: 10px;
}

.header-icon {
  width: 18px;
  height: 12px;
  fill: currentColor;
}

.header-phone > .header-icon {
  width: 10px;
  height: 16px;
}

.header-mail:hover,
.header-phone:hover,
.header-mail:focus,
.header-phone:focus {
  color: var(--accent-color);
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* banner */

.banner {
  padding: 200px 0px;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner-bg.png);
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  color: var(--secondary-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.banner-btn {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--background-accent);
  border-radius: 4px;
  cursor: pointer;
  line-height: 187%;
  padding: 10px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* modal banner */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--background-first);
  padding: 40px;
  border-radius: 4px;
  width: 100%;
  max-width: 528px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--neutral-second);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--background-accent);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--third-text);
  margin-bottom: 12px;
}

.form-group {
  margin-bottom: 10px;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.input:focus,
.textarea:focus {
  border-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input-icon {
  fill: var(--background-accent);
}

.textarea {
  min-height: 120px;
  resize: none;
  padding: 12px;
}

.checkbox {
  margin: 20px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-agree {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  cursor: pointer;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: inline-block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 15px 57px;
  background: var(--background-accent);
  color: var(--secondary-text);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--background-accent);
}

/* about */

.about {
  padding: 94px 0px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-title {
  color: var(--primary-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-item:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(3)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-item:nth-of-type(4)::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.about-text {
  color: var(--primary-text);
  font-weight: 400;
  line-height: 171%;
}

/* work */

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-title {
  color: var(--primary-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work-item {
  position: relative;
}

.work-desc {
  font-weight: 700;
  color: var(--secondary-text);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--background-second-opacity);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}

/* team */

.team {
  padding: 94px 0px;
  background-color: var(--background-third);
}

.team-img {
  width: 270px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  max-width: 270px;
  max-height: 428px;
  background-color: var(--background-first);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-title {
  color: var(--primary-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team-wrap {
  background-color: var(--background-first);
  border-radius: 0 0 4px 4px;
  padding: 30px 62px;
}

.team-subtitle {
  color: var(--primary-title);
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-name {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--primary-text);
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 30px;
  gap: 10px;
}

.icon-app {
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  fill: var(--icon-first);
  padding: 12px;
}

.icon-app:hover {
  fill: var(--neutral-first);
  overflow: unset;
  border-radius: 100px;
  background-color: var(--background-accent);
}

/* client */

.client {
  padding: 94px 0px;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-title {
  text-align: center;
  color: var(--primary-title);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.client-icon {
  transition: all 0.3s ease;
  fill: var(--icon-first);
  width: 106px;
  height: 60px;
  border: var(--icon-first) solid 2px;
  padding: 16px 32px;
}

.client-icon:hover {
  fill: var(--accent-color);
  border: var(--accent-color) solid 2px;
}

/* footer */

.footer {
  padding: 60px 0px;
  background-color: var(--background-second);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo-link {
  color: var(--neutral-first);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
}

.footer-logo-link > span {
  color: var(--accent-color);
}

.footer-info {
  font-weight: 400;
  color: var(--secondary-text);
  font-style: normal;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  color: var(--neutral-first);
  font-weight: 400;
  font-style: normal;
}

.footer-link {
  color: var(--primary-text);
  font-weight: 400;
  font-style: normal;
}

.footer-subtitle {
  font-weight: 700;
  color: var(--secondary-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  max-width: 44px;
  max-height: 44px;
  fill: var(--icon-second);
  border-radius: 100px;
  background-color: var(--background-opacity);
  padding: 12px;
  overflow: unset;
}

.social-icon:hover {
  overflow: unset;
  border-radius: 100px;
  background-color: var(--background-accent);
  padding: 12px;
}

.footer-main-list {
  display: flex;
  gap: 70px;
  align-items: center;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-btn {
  display: flex;
  align-items: center;
  padding: 15px 28px;
  color: var(--secondary-text);
  background-color: var(--background-accent);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}

.footer-input {
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--input-border-opacity);
  border-radius: 4px;
  color: var(--input-opacity);
  font-weight: 400;
  font-size: 16px;
  width: 358px;
}
