:root {
  --neutral-first: #fff;
  --neutral-second: #000;
  --background-first: #fff;
  --background-second: #2f303a;
  --background-third: #f5f4fa;
  --background-accent: #2196f3;
  --background-opacity: rgba(255, 255, 255, 0.1);
  --background-accent-opacity: rgba(33, 150, 243, 0.9);
  --primary-text: #757575;
  --secondary-text: #ffffff;
  --primary-title: #212121;
  --secondary-title: #ffffff;
  --first-border: #eee;
  --icon-first: #afb1b8;
  --icon-second: #fff;
  --input-opacity: rgba(255, 255, 255, 0.6);
  --input-border-opacity: rgba(255, 255, 255, 0.3);
  --accent-color: #2196f3;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}